.tall {
    height: 100px;
}

.subut {
    height: 100px;
    width: 100px;
}

.navlink {
    position: relative;
    left: 50px;
}

.navbar {
    background-color: #ffcc00;
}

.navbar-toggle {
    border: none !important;
    outline: none !important;
}
